#mainContainer {
    border: 5px solid Violet;
    background-image: url('/strawberry.png');
    background-repeat: repeat;
    background-position: right;
    background-size: contain;
}

.whatEver {
    color: greenyellow;
    font-weight: bold;
}

#Container {
    border: 10px solid teal;
    background-color: springgreen;
}

.CLG {
    color: #8A2BE2;
    font-weight: bold;
    font-style: inherit;
}

.SContainer {
    border: 5px solid lightskyblue;
    padding: 50px solid lightseagreen;
    background-color: lightpink;
    background-image: url('/lemon.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.why {
    color: red;
}

span {
    color: cornflowerblue
}

div p {
    background-color: lightyellow;
}

ul > li {
    color: white;
}

#Container ul li > em {
    background-color: hotpink;
    color: darkblue
}

#row1 {
    position: static;
    background-color: aqua;
}

#row2 {
    position: relative;
    top: 5px;
    left: 50px;
    background-color: yellowgreen;
}

#row3 {
    position: absolute;
    top: 1000px;
    left: 50px;
    background-color: orange;
}

#row4 {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: dodgerblue;
}